<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Inserir Fotos de Produto - UC006</title>
	</head>
	<body>
		<div id="main-div">
			 <h1 align="center">Inserir Fotos de Produto - UC006 </h1>
			<p>O ator deve poder inserir fotos de um produto.</p>
			<h2>Ator: </h2>
			<ul><li>Usuário</li></ul>
			<h2>Pré-condições:</h2>
			<ul>
				<li>O ator deve estar logado.</li>
				<li>O ator deve estar na tela de formulário de informações do produto</li>
				<li> O ator deve ter inserido nome, preço, quantidade, sabor, forma de entrega, peso(opcional) e observações(opcional).</li>
			</ul>
			<h2>Pós-condições:</h2>
			<ul>
				<li>O produto deve estar com as fotos cadastradas no sistema.</li>
			</ul>
			<center><img src="uc006.png" alt="uc006"></center>
			<img id="UEA-LOGO" src="uea-logo.png" alt="UEA Logo">
		</div>
	</body>
</html>
