<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Cadastrar Produto - UC005 </title>
	</head>
	<body>
		<div id="main-div">
			<h1 align="center">Cadastrar Produto - UC005 </h1>
			
			<p>O ator deve poder cadastrar um produto.</p>
			<h2>Ator: </h2>
			<ul><li>Usuário</li></ul>
			<h2>Pré-condições:</h2>
			<ul>
				<li>O ator deve estar logado.</li>
				<li>O ator deve estar na tela principal</li>
			</ul>
			<h2>Pós-condições:</h2>
			<ul>
				<li>O produto deve estar cadastrado no sistema.</li>
			</ul>
			<center><img src="uc005.png" alt="uc005"></center>
			<img id="UEA-LOGO" src="uea-logo.png" alt="UEA Logo">
		</div>
	</body>
</html>
