<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	<body>
		<div id="main-div">
			<h4>Realizar Login - UC004</h4>
			<p>O ator deve poder efetuar login no sistema.</p>
			<h5>Ator: </h5>
			<ul><li>Usuário</li></ul>
			<h5>Pré-condições:</h5>
			<ul>
				<li>O ator deve acessar a tela de login.</li>
				<li>O ator deve estar cadastrado no sistema.</li>
			</ul>
			<h5>Pós-condições:</h5>
			<ul>
				<li>O usuário deve estar logado no sistema.</li>
			</ul>
			<center><img src="uc004.png" alt="uc004"></center>
			<img id="UEA-LOGO" src="uea-logo.png" alt="UEA Logo">
		</div>
	</body>
</html>