
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Editar Perfil - UC002</title>
	</head>
	<body>
		<div id="main-div">
                <h1 align="center"> Editar Perfil - UC002</h1>
			<p>O ator deve poder editar seu perfil.</p>
			<h2>Ator: </h2>
			<ul><li>Usuário</li></ul>
			<h2>Pré-condições:</h2>
			<ul>
				<li>O ator deve estar logado no sistema.</li>
				<li>O ator estar na tela principal.</li>
			</ul>
			<h2>Pós-condições:</h2>
			<ul>
				<li>O perfil deve estar editado no sistema.</li>
			</ul>
			<center><img src="uc002.png" alt="uc002"></center>
			<img id="UEA-LOGO" src="uea-logo.png" alt="UEA Logo">
		</div>
	</body>
</html>
