<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	<body>
		<div id="main-div">
			<h4>Cadastrar Produto - UC005</h4>
			<p>O ator deve poder cadastrar um produto.</p>
			<h5>Ator: </h5>
			<ul><li>Usuário</li></ul>
			<h5>Pré-condições:</h5>
			<ul>
				<li>O ator deve estar logado.</li>
				<li>O ator deve estar na tela principal</li>
			</ul>
			<h5>Pós-condições:</h5>
			<ul>
				<li>O produto deve estar cadastrado no sistema.</li>
			</ul>
			<center><img src="uc005.png" alt="uc005"></center>
			<img id="UEA-LOGO" src="uea-logo.png" alt="UEA Logo">
		</div>
	</body>
</html>