<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	<body>
		<div id="main-div">
                <h1 align="center"> Cadastrar usuário - UC001</h1>
			
			<p>O ator deve poder se cadastrar no sistema.</p>
			<h2>Ator: </h2>
			<ul><li>Usuário</li></ul>
			<h2>Pré-condições:</h2>
			<ul>
				<li>O ator abre o sistema.</li>
				<li>O ator estar na tela de login.</li>
			</ul>
			<h2>Pós-condições:</h2>
			<ul>
				<li>O usuário deve estar cadastrado no sistema.</li>
			</ul>
			<center><img src="uc001.png" alt="uc001"></center>
            <img id="UEA-LOGO" src="uea-logo.png" alt="UEA Logo">
            
		</div>
	</body>
</html>
