<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Editar Produto - UC007</title>
	</head>
	<body>
		<div id="main-div">
			<h1 align="center"> Editar Produto - UC007</h1>
			<p>O ator deve poder editar informações de um produto.</p>
			<h2>Ator: </h2>
			<ul><li>Usuário</li></ul>
			<h2>Pré-condições:</h2>
			<ul>
				<li>O ator deve estar logado.</li>
				<li>O ator deve estar na tela inicial.</li>
			</ul>
			<h2>Pós-condições:</h2>
			<ul>
				<li>O produto deve estar com as informações editadas no sistema</li>
			</ul>
			<center><img src="uc007.png" alt="uc007"></center>
			<img id="UEA-LOGO" src="uea-logo.png" alt="UEA Logo">
		</div>
	</body>
</html>
